.container{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
    

    height: 100vh;
    
    background-color: #E5E5E5;
}



.header{
    background-color: #FFFFFF;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 100px 100px;

    box-shadow: 0 6px 4px -4px rgba(0,0,0,0.3); 
    
}

.sidebar{
    background-color: #FFFFFF;
    grid-column: 1/2;
    grid-row: 1/span 2;

    display: grid;

    grid-template-rows: 150px 350px 1fr;
    gap: 50px;

    justify-content: center;
}

.main-content{
    grid-column: 2/3;
}

.dashboard-logo img{
    width: 200px;
    padding-top: 50px;
}

.nav-list{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nav-list-item p{
    font-size: 16px;
    color: #79869F;
    font-family: Roboto;

    padding-left: 20px;
    margin: auto 0 auto 0;

}

.nav-list-item{
    flex: 1 0 1;

    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;

    
    height: 50px;
    width: 187px;
    display: flex;
}

.projects{
    background-color: #583D72;
    border: 1px solid #583D72;
    
}

.projects p{

    color: #FFFFFF;
    


}


.options-list{
    display: flex;
    flex-direction: column;
    gap: 4px;

    justify-content: flex-end;
    padding-bottom: 50px;



}

.options-list-item{
    flex: 1 0 1;

    border-radius: 15px;

    
    height: 50px;
    width: 187px;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;


    
}

.options-list-item p{
    font-size: 16px;
    color: #79869F;
    font-family: Roboto;

    padding-left: 20px;
    margin: auto 0 auto 0;

}

/*SVG Styling*/
.nav-list-item img{
    width: 30px;
    height: 30px;
    filter: invert(54%) sepia(12%) saturate(637%) hue-rotate(181deg) brightness(94%) contrast(90%);
    
}

.projects img {
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
}

.options-list-item img{
    width: 30px;
    height: 30px;
    filter: invert(54%) sepia(12%) saturate(637%) hue-rotate(181deg) brightness(94%) contrast(90%);
}

.nav-options{
    display: grid;
    grid-template-rows: repeat(3,1fr);

}

.header-top{
    display: flex;
    justify-content: space-between;

 

    grid-row: 1/2;

    align-items: center;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
/* 
    background-color: blue; */

    grid-row: 2/3;
}

.header-top-search-bar{
    width: 400px;
    height: 52px;
    margin-left: 30px;
   
    align-content: center;
   
    border-radius: 15px;

    
    display: grid;
    grid-template-columns: 1fr;

}





.header-top-icons{

    width: 250px;
    height: 50px;

    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: flex-end;
    padding-right: 40px;

}

/*SEARCH BAR*/
.search-bar-container{
    display: inline;
}

.header-top-search-bar > form {
    
    display: flex;
    width: 400px;
    height: 52px;

    background-color: #FAFAFA;
    border-radius: 15px;

    
    
}

input[type ="search"]{
    font-size: 16px;
    font-family: Roboto;
    
    padding-left: 50px;

    

    
    
    
}

input[type="search"]::placeholder {
    color: #8695A0;
    font-family: Roboto;
    font-size: 16px;
    align-self: center;
    font-size: 16px;
}

input.nosubmit {
    width: 400px;
    height: 52px;
    border: 1px solid rgb(0,0,0,0.2);
    
    border-radius: 15px;
    
    

    background: transparent url(img/magnify.svg) no-repeat 13px center;
    background-size: 30px;
    filter: invert(54%) sepia(12%) saturate(637%) hue-rotate(181deg) brightness(94%) contrast(90%);
    
    
}



/*Header-Top-Icons_Styling*/

.notifications-container img {
    width: 30px;
    filter: invert(54%) sepia(12%) saturate(637%) hue-rotate(181deg) brightness(94%) contrast(90%);
}

.profile-img img {
    width: 50px;
}

.name-container{
    display: flex;
    flex-direction: column;
    

}
.name-container p {
    font-size: 16px;
    font-family: Roboto;
    color: #79869F;
    margin: 0px;

}

.name-container .name{
    font-weight: 700;
    color: #583D72;
     
}


.header-bottom{
    display: flex;
    justify-content: space-between;
    
}
.header-bottom-left{
    display: flex;
    padding-left: 30px;
    gap: 20px;
    align-items: center;
}

.initials{
    height: 50px;
    width: 50px;
    background-color: #FAFAFA;
    border: 1px solid rgb(0,0,0,0.2);
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;

 

}


/*Header Bottom Styling*/
.initials p {
    font-size: 16px;
    font-family: Roboto;
    color: #583D72;
}

.greeting p{
    font-size: 24px;
    color: #583D72;
    font-family: Roboto;
    margin: auto 0 auto 0;

}

#greeting-text{
    font-size: 14px;
    color: #79869F;
}

.img-container img {
    width: 50px;
}

.header-bottom-right{
    display: flex;
    align-items: center;
    padding-right: 40px;
    gap: 30px;
}


.header-bottom-right button{
    width: 160px;
    height: 35px;
    background-color: #583D72;
    border: 1px solid rgb(0,0,0,0.2);
    border-radius: 15px;

    font-size: 18px;
    color: #FAFAFA;
    font-family: Roboto;
}